.conteudo-busca-localidade {
    margin: 30px auto;
    width: 900px;
    text-align: center;
    font-family: "Poppins", sans-serif;
}

.conteudo-busca-localidade input {
    color: var(--Blue-Normal-Text);
    background: var(--Blue-Light);
    padding-left: 20px;
    width: 270px;
    height: 50px;
    border: none;
    border-radius: 10px;
}

.conteudo-busca-localidade .buscar {
    width: 100px;
    height: 50px;
    border: none;
    cursor: pointer;
    margin-left: 30px;
    border-radius: 10px;
    color: white;
    background: var(--Red-Normal);
}

.conteudo-busca-localidade .buscar.disabled {
    background-color: var(--Blue-Light-Active);
    cursor: not-allowed;
}

.carregamento{
    background-color: rgba(0, 0, 0, 0.5); 
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: var(--Blue-Light);;
}
.carregamento i{
    position: relative;
    text-align: center;
    margin-top: 7rem;
}

.carregamento .fa-spinner {
    font-size: 50px; 
    color: var(--Blue-Light); 
    animation: spin 2s linear infinite;
  }
  
  @keyframes spin {
    from {
      transform: rotate(0deg); 
    }
    to {
      transform: rotate(360deg); 
    }
  }
  
.campo-avaliação h1 {
    color: var(--Blue-Normal-Text);
    margin: 3rem 0 0 0;
    font-weight: 400;
}

.campo-avaliação .campo-de-opcao {
    display: flex;
    justify-content: space-between;
    width: 922px;
}

.campo-avaliação .campo-de-opcao select {
    background: none;
    border: none;
    width: 150px;
    font-size: 15px;
    cursor: pointer;
    color: var(--Red-Normal);
    margin: 3rem 0 0;
    position: relative;
}

.campo-avaliação .campo-de-opcao .btn-avaliacao{
    color: var(--Red-Normal);
    background: none;
    border: none;
    cursor: pointer;
    font-size: 15px;
    margin: 55px 0 0 0;
}

.campo-avaliação .campo-de-opcao select:active {
    background: none;
    border: none;
}

.cards {
    display: grid;
    grid-template-columns: 20rem 20rem 20rem;
    margin-top: 3rem;
}

hr{
    margin-top: 7rem;
    width: 1000px;
    color: var(--Blue-Normal-Text);
}