.conteudo-busca-localidade {
    margin: 30px auto;
    width: 900px;
    text-align: center;
    font-family: "Poppins", sans-serif;
}

.conteudo-busca-localidade input {
    color: var(--Blue-Normal-Text);
    background: var(--Blue-Light);
    padding-left: 20px;
    width: 270px;
    height: 50px;
    border: none;
    border-radius: 10px;
}

.conteudo-busca-localidade .buscar {
    width: 100px;
    height: 50px;
    border: none;
    cursor: pointer;
    margin-left: 30px;
    border-radius: 10px;
    color: white;
    background: var(--Red-Normal);
}

.conteudo-busca-localidade .buscar.disabled {
    background-color: var(--Blue-Light-Active);
    cursor: not-allowed;
}

.conteudo-busca-localidade .frase{
    margin: 9rem auto;
    color: var(--Red-Dark);
    font-weight: 600;
}

.conteudo-busca-localidade .frase p{
    margin: 0 auto;
}

.conteudo-busca-localidade .frase h1{
    font: 5rem "Pompiere", sans-serif;
    margin: 0 0 0 20px;
    padding-bottom: 10px;
}

.conteudo-busca-localidade .frase .mudanca-estilo{
    color: var(--Blue-Darker);
    margin-bottom: 2rem;
    font-family:"Pompiere", sans-serif;

}

.carregamento{
    background-color: rgba(0, 0, 0, 0.5); 
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: var(--Blue-Light);;
}
.carregamento i{
    position: relative;
    text-align: center;
    margin-top: 7rem;
}

.carregamento .fa-spinner {
    font-size: 50px; 
    color: var(--Blue-Light); 
    animation: spin 2s linear infinite;
  }
  
  @keyframes spin {
    from {
      transform: rotate(0deg); 
    }
    to {
      transform: rotate(360deg); 
    }
  }
  
.campo-avaliação h1 {
    color: var(--Blue-Normal-Text);
    margin: 3rem 0 0 0;
    font-weight: 400;
}

.campo-avaliação .campo-de-opcao {
    width: 922px;
    display: flex;
    font-size: 15px;
    margin: 3rem 0 0 0;
    justify-content: space-between;
}

.campo-avaliação .campo-de-opcao .opcao-avaliacao {
    display: flex; 
    margin-right: 10px;
}

.campo-avaliação .campo-de-opcao .opcao-avaliacao button{
    border: none;
    height: 35px;
    padding: 10px;
    cursor: pointer;
    margin-right: 10px;
    border-radius: 10px;
    background: var(--Blue-Light);
    color: var(--Blue-Darker);
}

.campo-avaliação .campo-de-opcao .opcao-avaliacao button:hover{
    background: var(--Red-Dark);
    color: white;
}

.campo-avaliação .campo-de-opcao .btn-avaliacao{
    border: none;
    color: var(--Red-Normal);
    background: none;
    cursor: pointer;
    margin-right: 25px;
}

.campo-avaliação .campo-de-opcao select:active {
    background: none;
    border: none;
}

.cards {
    display: grid;
    grid-template-columns: 20rem 20rem 20rem;
    margin: 5rem auto;
}

hr{
    margin-top: 7rem;
    width: 1000px;
    color: var(--Blue-Normal-Text);
}