<div class="conteudo-busca-localidade">
    <app-menu></app-menu>
    <div>
        <form [formGroup]="formBuscarLocalidade" (ngSubmit)="btnLocalidade()">
            <input type="text" placeholder="Infome o nome da musica" formControlName="localidade">
            <button class="buscar" type="submit">Buscar</button>
        </form>
    </div>

    <div class="carregamento" *ngIf="loadingService.isLoading | async">
        <i class="fa-solid fa-spinner"></i>
        <p>Aguarde, carregando...</p>
    </div>

    <div *ngIf="abrirResultadoLocalidade">

        <div class="campo-previsao-localidade">
            <div class="info-primario">
                <p class="localidade">{{resultLocalidade.local}}</p>
                <p class="graus">{{resultLocalidade.temp_max}}º</p>
            </div>
            <div class="info-segundario">
                <div class="descricao">
                    <p>{{resultLocalidade.descricao}}</p>
                </div>
                <div class="sensacao">
                    <p>
                        <span><i class="fa-solid fa-water"></i>
                        </span> Sensação Térmica {{resultLocalidade.sensacao_termica}}º
                    </p>
                </div>
                <div class="temp">
                    <div class="temp-max">
                        <p>
                            <span><i class="fa-solid fa-temperature-three-quarters"></i>
                            </span>Temp. Max {{resultLocalidade.temp_max}}º
                        </p>
                    </div>
                    <div class="temp-min">
                        <p>
                            <span><i class="fa-solid fa-temperature-empty"></i>
                            </span>Temp. Min {{resultLocalidade.temp_min}}º
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <!-- depoimentos  -->
        <div class="campo-avaliação">
            <h1>Avaliações</h1>

            <div class="campo-de-opcao">
                <select [formGroup]="formSelect">
                    <option [ngValue]="todosTiposAvaliacao">Selecionar Todos</option>
                    <option *ngFor="let tipoDepoimento of tiposDepoimentos" [ngValue]="tipoDepoimento">
                        {{ tipoDepoimento }}
                    </option>
                </select>

                <button class="btn-avaliacao" type="submit" (click)="abrirFormulario()">Registrar Novo Avaliação >
                </button>
            </div>

            <div class="cards">
                <div *ngFor="let cardDepoimento of cardsDepoimentos">
                    <div class="depoimento">
                        <p class="detalhes">{{cardDepoimento.detalhes}}</p>
                        <div class="horaData">
                            <p class="data">Data: <span>{{cardDepoimento.data}}</span></p>
                            <p class="hora">Hora: <span>{{cardDepoimento.hora}} h</span></p>
                        </div>
                        <div class="acao">
                            <button class="editar" type="submit" (click)="editarFormulario(cardDepoimento)">
                                <i class="fa-regular fa-pen-to-square"></i>
                            </button>
                            <button class="excluir" type="submit" (click)="excluirAvaliacao(cardDepoimento.idDepoimento!)">
                                <i class="fa-solid fa-trash"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div *ngIf="abrirModalFormulario" id="modalFormulario">
        <hr>
        <app-modal></app-modal>
    </div>
</div>