<div id="base-modal">
    <div class="modal">
        <div>
            <i class="fa-solid fa-xmark" (click)="fecharModal()"></i>
        </div>
        <h1>Registrar Avaliações</h1>
        <div class="conteudo-card">
            <form [formGroup]="avaliacao" action="" (ngSubmit)="registrarAvaliacao()">
                <fieldset>
                    <p for="tipo" class="tipo">Titulo da experiência</p>
                    <input name="tipo" id="tipo" placeholder="Que assunto deseja abordar" formControlName="tipo"/>
                    <br>
                    <br>
                    <p for="detalhes" class="detalhes">Conte a sua experiência</p>
                    <textarea name="detalhes" id="detalhes" placeholder="..." formControlName="detalhes"></textarea>
    
                    <button 
                        type="submit" 
                        class="btn-white" 
                        [ngClass]="{'disabled': !avaliacao.valid}"
                        [disabled]="!avaliacao.valid">Salvar</button>
                </fieldset>

            </form>
        </div>
    </div>
</div>