.campo-avaliação h1 {
    color: var(--Blue-Normal-Text);
    margin: 3rem 0 0 0;
    font-weight: 400;
}

.campo-avaliação .campo-de-opcao {
    width: 100%;
    display: flex;
    margin: 3rem 0 0 0;
    justify-content: space-between;
}

.campo-avaliação .campo-de-opcao .opcao-avaliacao {
    display: flex; 
    margin-right: 10px;
}

.campo-avaliação .campo-de-opcao .opcao-avaliacao button{
    border: none;
    height: 35px;
    padding: 0.5em;
    cursor: pointer;
    margin-right: 1em;;
    border-radius: 10px;
    background: var(--Blue-Light);
    color: var(--Blue-Darker);
}

.campo-avaliação .campo-de-opcao .btn-avaliacao{
    border: none;
    background: none;
    cursor: pointer;
    font-size: 1.2rem;
    color: var(--Red-Normal);
}

.campo-avaliação .campo-de-opcao .opcao-avaliacao button.active{
    background: var(--Red-Normal);
    color: white;
}

.campo-avaliação .campo-de-opcao .opcao-avaliacao button:hover{
    background: var(--Blue-Light-Active);
    color: white;
}

.campo-avaliação .campo-de-opcao .btn-avaliacaobutton:hover{
    color: var(--Blue-Light-Active);
}

.campo-avaliação .campo-de-opcao select:active {
    background: none;
    border: none;
}

.depoimento {
    width: 85%;
    padding: 0.8em;
    margin: 0 0 2em 0;
    border-radius: 10px;
    background: var(--Blue-Light);
    color: var(--Blue-Normal-Text);
    font-family: "Poppins", sans-serif;
}

.tipo{
    margin: 1em 0;
    font-weight: 200;
    text-align: justify;
}

.detalhes {
    width: 80%;
    margin: 0 0px 1em 0;
    text-align: justify;
}

.destaques {
    margin: 0;
    text-align: justify;
    padding-top: 1em;
    font-weight: 300;
    font-size: 0.8rem;

}

.destaques p {
    margin: 0;
}

.horaData {
    display: flex;
    font-weight: 200;
    padding-top: 1em;
    justify-content: space-evenly;
}

.horaData p {
    margin: 0;
}

.horaData span {
    font-weight: 300;
}

.acao {
    display: flex;
    justify-content: end;
}

.acao button {
    margin: 0.5em;
    cursor: pointer;
    background: none;
    border: none;
    color: var(--Red-Normal);
}