.depoimento {
    width: 254px;
    padding: 15px;
    margin: 0 0 20px 0;
    border-radius: 10px;
    background: var(--Blue-Light);
    color: var(--Blue-Normal-Text);
    font-family: "Poppins", sans-serif;
}

.tipo{
    margin: 6px 0;
    font-weight: 200;
    text-align: justify;
    font-size: 14px;
}

.detalhes {
    width: 240px;
    font-size: 13px;
    margin: 0 0px 10px 0;
    text-align: justify;
}

.destaques {
    margin: 0;
    text-align: justify;
    padding-top: 7px;
    font-weight: 300;
    font-size: 13px;
}

.destaques p {
    margin: 0;
}

.horaData {
    display: flex;
    font-weight: 200;
    padding-top: 10px;
    justify-content: space-evenly;
}

.horaData p {
    margin: 0;
}

.horaData span {
    font-weight: 300;
}

.acao {
    margin-left: 12rem;
}

.acao button {
    cursor: pointer;
    background: none;
    border: none;
    margin: 0;
    color: var(--Red-Normal);
}